@import 'primeicons/primeicons.css';
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

// .container {
//   max-width: 1200px;
// }

.text-primary {
  color: var(--primary-color) !important;
}

body {
  font-family: 'Poppins', sans-serif;
}